<launch>

  <arg name="device" default="tcp:host=localhost;port=33333"/>
  <let name="port" value="44444"/>

  <node pkg="asebaros" exec="asebaros" args="--log-level info" output="screen">
    <param name="port" value="$(var port)"/>
    <param name="shutdown_on_unconnect" value="false"/>
    <param name="targets" value="$(var device)" value-sep=","/>
    <param name="highest_acceptable_protocol_version" value="20"/>
    <param name="nodes">
      <param name="any">
        <param name="accept" value="true"/>
        <param name="prefix" value="node_"/>
      </param>
    </param>
  </node>
</launch>
